<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title> Movie App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="search movie..."></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wdE6ewaKZHr62bLqCn7A2DiGShm.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Red Notice (2021)</h1>
          <p>05/11/2021 (US) - 1h 58m</p>
          <p>Action, Comedy, Crime, Thriller</p>
        </div>
      </ion-label>

      <ion-chip color="warning" outline="">
        <ion-label class="ion-text-wrap"> 68% </ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
